<div class="call-to-action">
  <div class="call-to-action-content">
    <div class="text-section">
      <div class="font-effect"><h1 class="">Empieza tu propio blog en cuestión de minutos.</h1></div>
      <h2 class="colored-effect font-effect">Con un toque especial</h2>
      <div class="button-group">
        <a class="primary-button" href=<%= new_user_registration_path %> data-turbo-frame="_top">Registrate</a>
      </div>
    </div>
  </div>
  <div class="call-to-action-icons">
    <div class="call-to-action-icon-1" data-controller="viewport-appear-animation"
      data-parallax="smooth" data-parallax-factor="0.1"></div>
    <div class="call-to-action-icon-2" data-controller="viewport-appear-animation"
      data-parallax="smooth" data-parallax-factor="0.1"></div>
    <div class="call-to-action-icon-3" data-controller="viewport-appear-animation"
      data-parallax="smooth" data-parallax-factor="0.1"></div>
  </div>
</div>

<main class="main-content">
  <section class="about row gx-0" data-controller="viewport-appear-animation" data-animation=""
    data-parallax-factor="0.1" data-animation-direction="left">
    <div class="col">
      <h2>Quienes Somos</h2>
      <p>
        En Blogging In, ofrecemos una plataforma intuitiva y potente que te permite crear, gestionar y compartir tus
        blogs sin complicaciones. Disfruta de herramientas personalizadas para diseñar tu blog y conectar con tu audiencia.
      </p>
        <a class="primary-button" href=<%= new_user_registration_path %> data-turbo-frame="_top">Conoce más</a>
    </div>
    <div class="about-image col">
      <div class="image"></div>
    </div>
  </section>
  <section class="latest-blogs row gx-0" data-controller="viewport-appear-animation">
    <div class="text-section">
      <h2>Últimos Blogs</h2>
      <h4>Descubre las publicaciones más recientes y mantente al día con las últimas tendencias y consejos.</h4>
    </div>
    <div class="blog-cards row g-0">
      <% if @blogs.present? %>
        <% @blogs.each do |blog| %>
          <div class="blog-card col-6 mb-3">
            <% if blog.image.persisted? %>
              <%= image_tag blog.image, class: "blog-card-image" %>
            <% end %>
            <div class="blog-card-content row">
              <div class="col-6">
                <h3 class="card-title"><%= blog.title %></h3>
                <p class="card-text"><small class="text-muted">Likes: <%= blog.likes_count %></small></p>
                <a class="btn btn-primary" href="<%= blogger_blog_path(alias: blog.user.alias, id: blog.id) %>" data-turbo-frame="_top">Leer Más</a>
              </div>
              <div class="col-6">
                <p class="card-text text-muted mb-2"><%= truncate(blog.content, length: 20) %></p>
                <p class="card-text"><small class="text-muted"><%= blog.created_at.strftime('%d de %B de %Y') %></small></p>
          </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="text-center">No se encontraron resultados.</p>
      <% end %>
    </div>
  </section>
</main>