<div class="container-main">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form" }) do |f| %>
  <h2>Iniciar Sesión</h2>
    <div class="field">
      <%= f.label :first_name, "Nombre" %><br />
      <%= f.text_field :first_name, autofocus: true, autocomplete: "given-name", placeholder: "Tu nombre" %>
    </div>

    <div class="field">
      <%= f.label :email, "Correo Electrónico" %><br />
      <%= f.email_field :email, autocomplete: "email", placeholder: "Tu correo electrónico" %>
    </div>

    <div class="field">
      <%= f.label :password, "Contraseña" %><br />
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Tu contraseña" %>
    </div>

    <div class="actions">
      <%= f.submit "Iniciar Sesión" %>
    </div>
    <%= render "devise/shared/links" %>
  <% end %>
</div>