<%= turbo_frame_tag "main" do %>
    <main class="container-main">
        <div class="row">
            <div class="font-effect"><h1>Blogs <%= ('- ' + params[:alias].humanize) if params[:alias].present? %></h1></div>
            <div class="row wrap-reverse-mobile">

                <div class="col-sm-8">
                    <!-- Búsqueda de Blogs -->
                    <div class="mb-4">
                        <%= form_with url: blogger_blog_path(alias: params[:alias]), method: :get, class: "search-form", data: { turbo_frame: "main" } do |form| %>
                            <%= form.hidden_field :category, value: params[:category] %>
                            <div class="input-group">
                                <%= form.text_field :q, value: params[:q], placeholder: "Buscar blogs...", class: "form-control" %>
                                <button class="primary-button" type="submit">Buscar</button>
                            </div>
                        <% end %>
                    </div>

                    <!-- Blog Actual -->
                    <% if @showing_blog.present? %>
                        <article class="card shadow-sm blog-card mb-4 active">
                            <div class="card-body">
                                <h5 class="card-title mb-1">
                                    <%= @showing_blog.title.camelcase %>
                                </h5>
                                <p class="card-text text-muted mb-3">
                                    Publicado el <%= @showing_blog.created_at.strftime('%d de %B de %Y') %>
                                    por <a href="<%= blogger_blog_path(alias: @showing_blog.user.alias, id: @showing_blog.id) %>" data-turbo-frame="_top"><%= @showing_blog.user.display_name.humanize %></a>
                                </p>
                                <p class="card-text">
                                    <%= @showing_blog.content.truncate(300) %>
                                </p>
                                <% if @showing_blog.image.persisted? %>
                                    <%= image_tag @showing_blog.image, class: "blog-card-image", width: "100%" %>
                                <% end %>
                                <% if @showing_blog.video_url.present? %>
                                    <div class="video-container mt-1">
                                        <iframe class="video" width="100%" height="720" src="<%= format_embed_video(@showing_blog.video_url) %>" frameborder="0" allowfullscreen title="<%= @showing_blog.title %>" alt="<%= @showing_blog.title %>"></iframe>
                                    </div>
                                <% end %>
                                <div class="d-flex align-items-center mt-1">
                                    <%= turbo_frame_tag "like_counter" do %>
                                        <span><%= @showing_blog.likes_count %> likes</span>
                                    <% end %>
                                    <%= link_to blog_like_landing_index_path(id: @showing_blog.id), class: "m-2", data: { turbo_frame: "like_counter", turbo_method: :post } do %>
                                        <div class="icon-button me-2">
                                            <i class="thumbs-up-icon"></i>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </article>
                    <% end %>
                    
                    <!-- Mostrar Blogs -->
                    <% if @blogs.present? %>
                        <% @blogs.each do |blog| %>
                            <article class="card mb-4 shadow-sm blog-card">
                                <div class="card-body">
                                    <h5 class="card-title mb-1">
                                        <%= link_to blog.title, blogger_blog_path(alias: params[:alias], id: blog.id), class: "text-dark" %>
                                    </h5>
                                    <p class="card-text text-muted mb-3">
                                        Publicado el <%= blog.created_at.strftime('%d de %B de %Y') %>
                                    </p>
                                    <p class="card-text">
                                        <%= blog.content.truncate(300) %>
                                    </p>
                                    <div class="d-flex align-items-center mt-3">
                                        <span><%= blog.likes_count %> likes</span>
                                    </div>
                                </div>
                            </article>
                        <% end %>
                        <%= render partial: 'shared/pagy', locals: { pagy: @pagy_blogs } %>
                    <% else %>
                        <p class="text-center">No se encontraron resultados.</p>
                    <% end %>
                </div>
            
                <!-- Barra Lateral para Categorías -->
                <div class="col-sm-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Categorías</h5>
                            <ul class="list-unstyled">
                                <% if @categories.present? %>
                                    <% @categories.each do |category| %>
                                        <li class="mb-2">
                                            <%= link_to category.name, blogger_blog_path(alias: params[:alias], category: category.id), class: "text-decoration-none text-dark d-flex justify-content-between" %>
                                        </li>
                                    <% end %>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%end%>