<%= turbo_frame_tag 'new_blog_form', class: 'container-main row g-0'  do %>
  <div class="container mt-5 col-6">
    <h1><%= @blog.new_record? ? 'Crear nuevo blog' : 'Editar blog' %></h1>
    <%= form_with(model: @blog, url: @blog.new_record? ? admin_blogs_path : admin_blog_path, method: @blog.new_record? ? :post : :patch, class: 'form', multipart: true, data: { turbo: false }) do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>

      <div class="form-group">
        <%= form.label :title, 'Título', class: 'form-label' %>
        <%= form.text_field :title, class: 'form-control', placeholder: 'Título del blog' %>
      </div>

      <div class="form-group">
        <%= form.label :content, 'Contenido', class: 'form-label' %>
        <%= form.text_area :content, class: 'form-control', placeholder: 'Contenido del blog' %>
      </div>

      <div class="form-group">
        <%= form.label :image, 'Imágen', class: 'form-label' %>
        <%= form.file_field :image, multiple: false, class: 'form-control', accept: 'image/*' %>
      </div>

      <div class="form-group">
        <%= form.label :video_url, 'Url de Video', class: 'form-label' %>
        <%= form.text_field :video_url, class: 'form-control', placeholder: 'Url del video' %>
      </div>

      <div class="form-group">
        <%= form.label :category_ids, 'Categorías', class: 'form-label' %>
        <%= form.collection_check_boxes :category_ids, Category.all, :id, :name, { class: 'form-check-input' }, { class: 'form-check-label' } %>
      </div>

      <div class="text-center mt-3">
        <%= form.submit @blog.new_record? ? 'Crear blog' : 'Actualizar blog', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
<% end %>
